@model Test.Models.ModelsDB.Entities.Price

@{
    ViewBag.Title = "Админ панель: создание цены";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавление новоой цены</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отменить изменения и вернуться к списку", "ViewTablePrice")
}
