@model Test.Models.ModelsDB.Entities.Role

@{
    ViewBag.Title = "Админ панель: создание новой роли";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавление новой роли</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отменить изменения и вернуться к списку", "ViewTableRole")
}
