@model DataBase.Entities.Product

@{
    ViewBag.Title = "Админ панель: создание товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавление нового товара</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отменить изменения и вернуться к списку", "ViewTableProduct")
}
