@model Test.Models.ModelsDB.Entities.TypeProduct

@{
    ViewBag.Title = "Админ панель: создание типа товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавление нового типа товара</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Сохранить"/>
    @Html.ActionLink("Отменить изменения и вернуться к списку", "ViewTableTypeProduct")
}
